
body {
    width: 480px;
  }
  
div {
    display: block;
    border: 1px dotted #000;
    box-sizing: border-box;
    text-align: center;
  }

#a {
    width: 100%;
    height: 75px;
    line-height: 75px;
    background-color: blueviolet;
}

#b {
    width: 100%;
    height: 150px;
    float: left;
    background-color: brown;
}

#c, #d {
    width: 100%;
    height: 125px;
    line-height: 125px;
    background-color: aquamarine
}

#section2{
    width: 100%;
}
#e, #f, #g, #h {
    width: 50%;
    height: 250px;
    line-height: 250px;
    float: left;
    background-color: blue
}

#i {
    display: block;
    border: 1px dotted #000;
    box-sizing: border-box;
    width: 100%;
    height: 80px;
    line-height: 80px;
    float: left;
    background-color: antiquewhite;
}